.header__contacts{
    font-size: 18px;
    line-height: 25px;
    margin:0 0 10px;
}

@media screen and (max-width: 768px){
    .header__contacts{
        font-size: 10px;
        line-height: 15px;
        margin:0 0 2px;
    }
  }