.horizontal__case{
    margin: 42px 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 768px){
    .horizontal__case{
        margin: 20px auto;
    }
  }