.header__input{
    height: 50px;
    border:1px solid #111;
    border-top: none;
    margin-left: 6px;
    width: 900px;
}

@media screen and (max-width: 1320px){
    .header__input{
        width: 700px;
    }
  }
  
  @media screen and (min-width: 800px) and (max-width: 1100px){
    .header__input{
        width: 450px;
    }
  }
  
  @media screen and (min-width: 425px) and (max-width: 800px){
    .header__input{
      width: 280px;
    }
  }