.header__logo{
    border: 1px solid red;
    height: 106px;
}

@media screen and (min-width: 1800px){
    .header__logo{
        height: 60px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px){
    .place__image{
      max-width: 440px;
    }
  }
  
  @media screen and (min-width: 425px) and (max-width: 768px){
    .place__image{
      max-width: 340px;
    }
  }