@import url(./__button/horizontal__button.css);
@import url(./__case/horizontal__case.css);
@import url(./__container/horizontal__container.css);
@import url(./__description/horizontal__description.css);
@import url(./__icon/horizontal__icon.css);
@import url(./__image/horizontal__image.css);
@import url(./__pic/horizontal__pic.css);
@import url(./__subtitle/horizontal__subtitle.css);
@import url(./__images/horizontal__images.css);
@import url(./__text/horizontal__text.css);

.horizontal{
    background: url(../../images/horizont.jpg);
    background-size: cover;
    margin-top: 163px;
}

@media screen  and (max-width: 1232px){
    .horizontal{
        margin-top: 50px;
    }
  }
    