@import url(./__photo/element__photo.css);
@import url(./__container/element__container.css);

.element{
    background-color: rgb(	5, 19, 46);
    padding-bottom: 232px;
}

@media screen and (max-width: 820px){
    .element{
        padding-bottom: 50px;   
    }
}